@import "bootstrap/bootstrap";
@import "variables";
@import "bootswatch";

@btn-font-weight: 300;
@font-family-sans-serif: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
	font-weight: 300;
}

body {
   padding-top: 51px;
}